<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>CPriceLandscapes - Brisbane Landscaping -  %22Brisbane landscaping%22</title>
<link href="/css/style.css" rel="stylesheet" type="text/css" />
<META name="y_key" content="10503e36647c6309">

 <META name=\"y_key\" content=\"10503e36647c6309\" >
<META NAME="KEYWORDS" CONTENT="landscapes, garden design, garden maintenance, concreting, turf fencing, retaining walls, wooden screens, features, ponds, garden eding, out door living, decks, stairs, tree cutting, tonne tipping, driving">
<!--[if lte IE 6]>
	<script type="text/javascript" src="/supersleight-min.js"></script>
    <link href="/css/ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
<script src="/js/jquery.min.js"></script> 
		<script src="/js/jquery.colorbox-min.js"></script> 
		<script src="/js/jquery.cycle.all.min.js"></script> 
		<script src="/js/jflickrfeed.min.js"></script> 
	<script src="/js/jquery.flip.js"></script> 
	<script type="text/javascript" src="js/prototype.js"></script>
<script type="text/javascript"
          src="js/scriptaculous.js?load=effects,builder"></script>
<script type="text/javascript" src="js/lightbox.js"></script>
<link rel="stylesheet" href="css/lightbox.css"
     type="text/css" media="screen" />
<meta name="google-site-verification" content="WPQm4zm3g5zMCHFEalCn0gZI35GvtzBl44e5Bg-KKNA" />
</head>

<body>
<div id="main"><!-- Main starts here -->
<div id="header"><!-- Header starts here -->
<!--
	<div class="searchBar">
        <div class="search">
        	<div class="txt"><input type="text" /></div>
            <div class="searchBt"><input type="button" value="search" /></div>
        </div>
    	<div class="signIn">sign in</div>
    </div>
    -->
    <div class="logo">
    	<a href="#"><img style="margin-left: 100px;" src="/images/layout/logo2.gif" width="500px" alt="" /></a>
    </div>
    
    <div class="menu">
    	<ul id="menu">
        	<li class="home"><a href="http://cpricelandscapes.com/home" title="home">home</a></li>
            <li class="commit"><a href="http://cpricelandscapes.com/portfolio" title="portfolio">portfolio</a></li>
            <li class="commit"><a href="http://cpricelandscapes.com/blog" title="blog">blog</a></li>
     <li class="commit"><a href="http://cpricelandscapes.com/links" title="links" alt="links">links</a></li>
         
    	</ul>
    </div>
    <div class="subs">
    	<a href="http://cpricelandscapes.com/contact"><p style="font-size: 15px; width: 100%; font-weight: bold;text-align: center;">Contact Us</p></a>
    </div>
</div><!-- Header ends here -->

<div class="clear"></div>

<div id="contentTop"></div><!-- Content starts here -->
<div id="content">
	<style>#gallery {	position: relative;	margin: auto;	width: 800px;	padding: 0px 15px 10px 15px;}.photos {	position: relative;	float: left;	display: block;	margin-left: 5px;	padding-bottom: 10px;}.photosets {	clear: both;	padding-top: 1px;}.photosets h2 {	color: #000;}</style><div class="heading">Portfolio</div><div id="cbox" class="thumbs"></div>		   <div class="organic"><div id="gallery" >  <h2>%22Brisbane landscaping%22</h2></div><link href="/css/style2.css" rel="stylesheet" type="text/css" media="all" /> 
<div style="clear:both;"></div>
<h3>Tags</h3> 


	
    </div>
<div class="clear"></div>

<div class="hr"></div>
<div class="space"></div>
<div id="footer"><!-- Footer starts here -->

<div class="contactHeading">Contact Us</div>
<div class="footerHolder">
	<div class="footerLeft">
    	<p class="left">Address:</p>
        <p class="right">Kedron<br /> Brisbane<br /> Australia</p>
    </div>
    
    <div class="footerRight">
    	<p class="left">Phone: <br />Email: <br />Contact Form: <br />ABN: <br />BSA: </p>
	    <p class="right">0405 414 298  <br />cam@cpricelandscapes.com<br /><a href="http://cpricelandscapes.com/contact">View</a><br />86 701 189 147<br />1167284</p>

    </div>
    <div class="clear"></div>
</div>
</div><!-- Footer ends here -->
</div>
<div id="contentBottom"></div><!-- Content ends here -->

<div class="bottomHolder">
<div class="copy">Copyright 2010 CPriceLandscapes.com</div>
<div class="design">Designed by <a href="http://thomasdavis.com" title="Thomas Davis Webdeveloper">Thomas Davis</a></div>
</div>
</div><!-- Main ends here -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-15769418-1");
pageTracker._trackPageview();
} catch(err) {}</script>

<script src="http://static.getclicky.com/js" type="text/javascript"></script>
<script type="text/javascript">clicky.init(203165);</script>
<noscript><p><img alt="Clicky" width="1" height="1" src="http://in.getclicky.com/203165ns.gif" /></p></noscript>
</body>
</html>
